@model HighSchoolManager.Data.Equippement

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Equippement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Equippement_designation" class="control-label"></label>
                <input asp-for="Equippement_designation" class="form-control" />
                <span asp-validation-for="Equippement_designation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeEquippement_id_FK" class="control-label"></label>
                <select asp-for="TypeEquippement_id_FK" class ="form-control" asp-items="ViewBag.TypeEquippement_id_FK"></select>
            </div>
            <div class="form-group">
                <label asp-for="Salle_id_FK_equip" class="control-label"></label>
                <select asp-for="Salle_id_FK_equip" class ="form-control" asp-items="ViewBag.Salle_id_FK_equip"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
